<%= render layout: "partials/dashboard", locals: { active: "Evaluations" } do %>
  <div class="mx-auto md:w-2/3 w-full flex">
    <div class="mx-auto w-full">
      <h2>Evaluations</h2>
      <%= render partial: "partials/evaluations/show", locals: {user: current_user} %>
    </div>
  </div>
<% end %>
