<% if current_user.admin %>
  <p>You're logged-in as the admin user, manage other users by clicking on "Users" on the sidebar.</p>
  <p>If you have not do so, it is highly recommended to change the default admin email and password. You can change these in settings, accessed by click on your profile image icon in the top right and clicking "Settings".</p>
<% end %>
