<div id="flash_alert">
  <% flash.each do |message_type, data| %>
    <% unless data[:title].nil? && data[:message].nil? %>
      <%= render partial: "partials/alert", locals: { type: message_type, title: data[:title], message: data[:message] } %>
    <% end%>
  <% end %>
</div>
