<div>
  <% if user_evals.empty? %>
    <p>No evaluations to show, time to rest!</p>
    <%= image_tag("nature.svg", class: "block lg:block w-full w-max-lg", alt: "Nature") %>
  <% else %>
    <% user_evals.each do |e| %>
      <p>INSERT EVAL DATA HERE<p>
    <% end %>
  <% end %>
</div>
