:root {
  font-family: 'Inter var', Arial, Helvetica, sans-serif;
  --accents-3: #444;
  --accents-2: #222;
  --accents-1: #111;
}

html {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.7rem 0;
}

h1 {
  font-size: 3rem;
  letter-spacing: -0.02em;
  font-weight: 700;
  line-height: 1.5;
}

h2 {
  font-size: 2.25rem;
  letter-spacing: -0.02em;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: -0.02em;
  font-weight: 500;
}

h4 {
  font-size: 1.25rem;
  letter-spacing: -0.02em;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  letter-spacing: -0.01em;
  font-weight: 600;
}

p {
  font-size: 1em;
  line-height: 1.625em;
}

